* {
	margin: 0;
	padding: 0;
}

body, input {
	font-family: "Open Sans";
}

body {
	font-size: small;
	color: #eee;
	background: #222;
}

#top {
	padding: 8px;
	height: 50px;
}

#main {
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#navi {
	background: rgba(120,120,120,.4);
	list-style: none;
}

#memo-output {
	flex-grow: 10;
	padding: 16px;
	overflow: auto;
}

#player {
	background: rgba(120,120,120,.4);
	width: 400px;
	padding: 8px;
	box-sizing: border-box;
}

#navi a:link,
#navi a:visited {
	display: block;
	padding: 16px 8px;
	color: #111;
	text-decoration: none;
	text-align: center;
}

#navi a:focus,
#navi a:hover,
#navi a:active {
	background: rgba(120,120,120,.4);
}

#navi a .fa {
	display: block;
	font-size: 300%;
	margin: 0px 0px 8px 0px;
}

h1 .fa {
	color: #6c6;
}

h2 {
	color: #fff;
	font-weight: lighter;
	font-size: 200%;
}

h3 {
	font-weight: lighter;
	font-size: 150%;
}

p {
	margin: 0px 0px 1em 0px;
}

.error {
	color: #c66;
}

.info {
	color: #66c;
}

.form {
	margin: 8px 0px 16px 0px;
	width: 100%;
}

.form form * {
	width: 100%;
	border: 0px solid rgba(0,0,0,0);
	background: rgba(0,0,0,.6);
	padding: 8px 16px;
	border-radius: 8px;
	color: #eee;
	font-size: 150%;
	box-sizing: border-box;
	font-weight: lighter;
}

#results {
	border-top: 1px solid #555;
}

.search-result {
	border-bottom: 1px solid #555;
	padding: 8px 8px 0px 8px;
}

#results p {
	font-size: 110%;
}

#results .artist,
#results .album,
#results .genre {
	margin: 0px 8px 0px 0px;
}

#results .fa {
	color: #555;
	margin: 0px 4px 0px 0px;
}